.position-tracker {
  /*this will be responsible for drawing a vertical semi transparent
  line to show positioning of sounds*/

}

body {
}

.selected {
  background-color: red;
}

#progress {
  width: 100%;
  background-color: white;
}
#bar {
  width: 1%;
  height: 30px;
  background-color: green;
}
#bar:after {
  background-color: red;
}
