.position-tracker {
  /*this will be responsible for drawing a vertical semi transparent
  line to show positioning of sounds*/
}
body {
  background-image: url("http://res.cloudinary.com/do2rg2v7p/image/upload/v1507243641/mario_bg_d3awzp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.active {
  border: 2px solid red;
}
#bar:after {
  background-color: red;
}
.icon {
  margin-left: 5px;
  height: 40px;
}
.icon img {
  height: 40px;
}
.toolbar {
  margin-top: 45px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 30px
}
.grid-wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 30px
}
.player-wrapper {
  display: flex;
  margin-left: 30px;
}
.progress-tracker {
  display: flex;
  width: 700px;
}
.progress-tracker img {
  height: 40px;
  margin-left: -6%
}
.grid {
  width: 700px;
  display: flex;
  justify-content:space-between;
}
.grid li {
  list-style: none;
  height: 40px;
  width: 40px;
  background-color: red;
  margin-bottom: 5px;
  border-radius: 3px;
}
.grid li:hover {
  background-color: grey;
}
.column ul {
  padding: 1px;
}
.column ul li {
  height: 40px;
  width: 40px;
}
.column ul li img {
  height: 40px;
  width: 40px;
}

.paused {
  animation-play-state: paused;
}
.playing {
  animation-duration: 3s;
  animation-name: sliding;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes sliding {
  0% {
    margin-left: 0%;
    /*width: 300%;*/
  }
  /*6.25%{
    margin-left: 0.25%;
  }
  12.5% {
    margin-left: 6.5%;
  }
  18.75% {
    margin-left: 12.75%;
  }
  25% {
    margin-left: 19%;
  }
  31.25%{
    margin-left: 25.25%;
  }
  37.5% {
    margin-left: 31.5%;
  }
  43.75% {
    margin-left: 37.75%;
  }
  50% {
    margin-left: 44%;
  }
  56.25 {
    margin-left: 50.25%;
  }
  62.5% {
    margin-left: 56.5%;
  }
  68.75% {
    margin-left: 62.75%;
  }
  75% {
    margin-left: 69%;
  }
  81.25% {
    margin-left: 75.25%;
  }
  87.5% {
    margin-left: 81.5%;
  }
  93.75% {
    margin-left: 87.75%;
  }*/
  100% {
    margin-left: 100%;
    /*width: 100%;*/
  }
}
.player-wrapper {
  width: 700px;
  display: flex;
  justify-content: center;
}
.btn {
  height: 50px;
  width: 85px;
  background-color: transparent;
  border-color: red;
  color: red;
  border-radius: 4px;
  font-size: 24px;
  border: 3px solid red;
  margin-right: 10px;
}
.btn:hover {
  background-color: red;
  color: white;
}
select {
  height: 50px;
  width: 85px;
  background-color: transparent;
  border-color: red;
  color: red;
  border-radius: 4px;
  font-size: 24px;
  border: 3px solid red;
  margin-right: 10px;
}
.instructions-wrapper {
  position:absolute;
  right: -1px;
  top: -1px;
}
