body {
  padding: 0;
  margin: 0;
  background: url("http://res.cloudinary.com/do2rg2v7p/image/upload/v1507243641/mario_bg_d3awzp.jpg") no-repeat center top;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #ca4f13;
}

.active {
  border: 2px solid red;
}
#bar:after {
  background-color: red;
}
.icon {
  margin-left: 5px;
  height: 40px;
}
.icon img {
  height: 40px;
}
.toolbar {
  margin-top: 50px;
  margin-left: 35px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.grid-wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 35px
}
.player-wrapper {
  display: flex;
  margin-left: 35px;
}
.progress-tracker {
  display: flex;
  width: 700px;
}
.progress-tracker img {
  height: 40px;
  margin-left: -6%
}
.grid {
  width: 700px;
  display: flex;
  justify-content:space-between;
}
.grid li {
  list-style: none;
  height: 40px;
  width: 40px;
  background-color: red;
  margin-bottom: 5px;
  border-radius: 3px;
}
.grid li:hover {
  background-color: grey;
}
.column ul {
  padding: 1px;
}
.column ul li {
  height: 40px;
  width: 40px;
}
.column ul li img {
  height: 40px;
  width: 40px;
}

.paused {
  animation-play-state: paused;
}
.playing {
  animation-duration: 3s;
  animation-name: sliding;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes sliding {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
.player-wrapper {
  width: 700px;
  display: flex;
  justify-content: center;
}
.btn {
  height: 50px;
  width: 85px;
  background-color: transparent;
  border-color: red;
  color: red;
  border-radius: 4px;
  font-size: 24px;
  border: 3px solid red;
  margin-right: 10px;
}
.btn:hover {
  background-color: red;
  color: white;
}
select {
  height: 50px;
  width: 85px;
  background-color: transparent;
  border-color: red;
  color: red;
  border-radius: 4px;
  font-size: 24px;
  border: 3px solid red;
  margin-right: 10px;
}
.instructions-wrapper {
  position:fixed;
  right: -1px;
  top: -1px;
  z-index: -1;
  /*background-color: purple;*/
}
@media screen and (max-width: 1200px) {
  .instructions-wrapper > div {
    display: none;
    background-color: green;
  }
  .btn {
    background-color: #6096ff;
  }
  select {
    background-color: #6096ff;
  }
}
